@typeparam TEntity;

<div class="w-100" style="margin-bottom: 30px">
    <label class="input-group">
        <span class="input-group-text" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 9.344a5.5 5.5 0 1 0-1.397 1.398l3.86 3.86a1 1 0 0 0 1.415-1.416l-3.86-3.86zm-.342-3.968a4 4 0 1 1-6.468-1.47A4 4 0 0 1 11.4 5.376z" />
            </svg>
        </span>
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" @bind="searchTerm" @oninput="OnSearchInput" tabindex="1" autofocus />
    </label>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    [Parameter]
    public List<TEntity> Items { get; set; }

    private string searchTerm;

    private async Task OnSearchInput(ChangeEventArgs e)
    {
        searchTerm = e.Value.ToString();
        await OnSearch.InvokeAsync(searchTerm);
    }
}