@page "/"
@layout MainLayout
<PageTitle>Home</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to WhatToRead!</h1>
            <p>
                Discover the world of books with us! <b>WhatToRead</b> is your go-to destination for finding your next favorite read. Whether you're a casual reader or a book enthusiast, we have something for everyone.
            </p>
            <p>
                Our collection features a diverse range of genres, from gripping thrillers to heartwarming romance, insightful non-fiction to captivating fantasy. With our carefully curated selection, you're sure to find a book that resonates with you.
            </p>
            <p>
                At <b>WhatToRead</b>, we believe in the power of storytelling to inspire, educate, and entertain. Join our community of book lovers today and embark on an exciting literary journey!
            </p>
            <p>
                Start exploring our catalog now by visiting our <a href="catalog">Catalog of Books</a>.
            </p>
        </div>
        <div class="col-md-4">
            <!-- Optionally, you can add an image here to make the page more visually appealing -->
            <!-- <img src="your-image-url" alt="Welcome Image" class="img-fluid"> -->
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        StateHasChanged();
    }
}